@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --primary-blue: #001F3F;
  --accent: #EAD8B1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  /* Remove default margin */
  padding: 0;
  background: url('/bg_grain.svg') fixed;
  /* Remove default padding */
}

.container {
  max-width: 1140px;
  /* Set max width */
  margin: 0 auto;
  /* Center the container */
  padding: 0 20px;
  /* Optional: Add some horizontal padding */
}